ion-toolbar {
  --background: linear-gradient(135deg, #003366 0%, #0066cc 100%);
  --border-style: none; 
  height: 100px; 
  display: flex;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

ion-header {
  background-color: white; 
}

ion-title {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 26px;      
  font-weight: 900;     
  letter-spacing: 1.5px; 
  text-transform: uppercase;
  color: #ffffff;
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pagina-vantagens .lista-vantagens {
  background: transparent;
  margin-top: 20px;
}

.item-vantagem {
  --background: #ffffff;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  --padding-start: 10px;
  --inner-padding-end: 15px;
}

/* Container circular para o ícone */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  font-size: 24px;
  color: white;
}

/* Cores diferentes para cada ícone para dar vida à tela */
.azul { background: #004d7a; }
.verde { background: #008793; }
.roxo { background: #6a5acd; }
.laranja { background: #ff8c00; }

.item-vantagem h2 {
  font-weight: 700;
  color: #004d7a;
  margin-bottom: 5px;
}

.item-vantagem p {
  font-size: 0.9rem;
  color: #666;
  white-space: normal; /* Permite que o texto quebre linhas */
}